<%- include ../view_layouts/header.ejs %>
<%- include ../view_layouts/sidebar.ejs %>
<main class="content_wrapper">
    <!--page title start-->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <div class="page-breadcrumb">
                        <h1>Flot Charts</h1>
                    </div>
                </div>
                <div class="col-md-6 justify-content-md-end d-flex">
                    <div class="breadcrumb_nav">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a class="parent-item" href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">
                                Flot Charts
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page title end-->

    <div class="container-fluid">
        <!-- state start-->
        <div class="row">
            <div class="col-xl-12 mb-4">
                <div class="card card-shadow">
                    <div class="card-header">
                        <div class="card-title">
                            Grafik Penyewaan Bus Per Tahun
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart_show">
                            <canvas id="chartjs_line"></canvas>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-12 mb-4">
                <div class="card card-shadow">
                    <div class="card-header">
                        <div class="card-title">
                            Transaksi Terahir
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart_show">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<Script>
    $(document).ready(function () {
        chartJS();
    });

    function chartJS() {
        $.ajax({
            url: "/chart",
            type: "get",
            beforeSend: function (xhr) {
                if (localStorage.token) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                }
            },
            success: function (data) {
                let awalBulan = [];
                let totalTrx = [];
                let panjangData = parseInt(data.data.data.length) - 1;
                $.each(data.data.data, function (key, value) {
                    if(key != panjangData){
                        awalBulan += `"${value.bulan}"`+",";
                        totalTrx += `${value.total}`+",";
                    }
                    else{
                        awalBulan += `"${value.bulan}"`;
                        totalTrx += `${value.total}`;

                    }
                })
                awalBulan = JSON.parse("[" + awalBulan + "]");
                totalTrx = JSON.parse("[" + totalTrx + "]");
                console.log(totalTrx);
                var config = {
                    type: 'line',
                    data: {
                        labels: awalBulan,
                        datasets: [{
                            label: "Total Transaksi",
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: totalTrx,
                            fill: false,
                        },]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Overview of Latest Month'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Students'
                                }
                            }]
                        }
                    }
                };
                var ctx = document.getElementById("chartjs_line").getContext("2d");
                window.myLine = new Chart(ctx, config);
            }
        });
    }

</Script>

<!--main contents end-->
<%- include ../view_layouts/footer.ejs %>
