<!--<script type="text/javascript" src="assets/js/jquery.min.js"></script>-->
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!--datatables-->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>

<script src="assets/js/index/Chart.bundle.js"></script>
<script src="assets/js/index/utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="stylesheets/loading-overlay.min.js"></script>

</div>
<script>
    function showLoading() {
        target.loadingOverlay();
    }

    function hideLoading() {
        if (target.hasClass('loading')) {
            target.loadingOverlay('remove');
        }
    }
</script>
</html>