<%- include ../view_layouts/header.ejs %>
<%- include ../view_layouts/sidebar.ejs %>
<main class="content_wrapper">
    <!--page title start-->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <div class="page-breadcrumb">
                        <h1>Basic Input</h1>
                    </div>
                </div>
                <div class="col-md-6 justify-content-md-end d-md-flex">
                    <div class="breadcrumb_nav">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a class="parent-item" href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">
                                Basic Input
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page title end-->

    <div class="container-fluid">
        <!-- state start-->
        <div class="row">
            <div class=" col-xl-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="card-title">
                            <button type="button" class="btn  btn-success" data-toggle="modal"
                                    data-target="#largeModal"><i class="icon-lock pr-2"></i>
                                <span>Tambah User</span></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="serch_name" placeholder="Nama" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="number" placeholder="Telepon" name="serch_telephone" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="email" placeholder="Email" name="serch_email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" placeholder="Alamat" name="serch_address" class="form-control">
                                     </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select required="required" class="form-control" name="serch_role">
                                            <option value="">Role</option>
                                            <option value="1">Super Admin</option>
                                            <option value="2">User</option>
                                        </select>
                                          </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" placeholder="Username" name="serch_uname" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <button id="search_data" type="button"
                                                        class="btn btn-block btn-lg btn-primary waves-effect"><i
                                                            class="icon-lock pr-2"> <span>Cari</span></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <button type="button"
                                                        class="btn btn-block btn-lg btn-danger waves-effect"><i
                                                            class="material-icons">search</i>
                                                    <span>Reset</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-shadow mb-12">
                    <div class="card-header">
                        <div class="card-title">
                            Basic Form Controls
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="table-data-user"
                               class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Telepon</th>
                                <th>Email</th>
                                <th>Alamat</th>
                                <th>Username</th>
                                <th>Status</th>
                                <th>Roles</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Telepon</th>
                                <th>Email</th>
                                <th>Alamat</th>
                                <th>Username</th>
                                <th>Status</th>
                                <th>Roles</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_add">
                    <label for="email_address">Nama</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_name" class="form-control" name="add_name">
                        </div>
                    </div>
                    <label for="email_address">Telepon</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="number" id="add_telephone" class="form-control"
                                   name="add_telephone">
                        </div>
                    </div>
                    <label for="email_address">Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="email" id="add_email" class="form-control"
                                   name="add_email">
                        </div>
                    </div>
                    <label for="email_address">Alamat</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_address" class="form-control"
                                   name="add_address">
                        </div>
                    </div>
                    <label for="email_address">Role</label>
                    <div class="form-group">
                        <div class="form-line">
                            <select required="required" class="form-control" name="add_role">
                                <option value="">-- Please select --</option>
                                <option value="1">Super Admin</option>
                                <option value="2">User</option>
                            </select>
                        </div>
                    </div>
                    <label for="email_address">Username</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_uname" class="form-control" name="add_uname">
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="password" id="add_pass" class="form-control"
                                   name="add_pass">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!--EDIT DATA-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_edit">
                    <label for="email_address">Nama</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="hidden" id="edit_id" class="edit_form form-control" name="edit_id">
                            <input type="text" id="edit_name" class="edit_form form-control" name="edit_name">
                        </div>
                    </div>
                    <label for="email_address">Telepon</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" id="edit_telephone" class="edit_form form-control"
                                   name="edit_phone">
                        </div>
                    </div>
                    <label for="email_address">Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="email" id="edit_email" class="edit_form form-control"
                                   name="edit_email">
                        </div>
                    </div>
                    <label for="email_address">Alamat</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="edit_address" class="edit_form form-control"
                                   name="edit_address">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!--DETAIL DATA-->

<div class="modal fade" id="detailModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_detail">
                    <label for="email_address">Nama</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_name" class="detail_form form-control"
                                   name="add_name">
                        </div>
                    </div>
                    <label for="email_address">Telepon</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="number" id="detail_telephone"
                                   class="detail_form form-control"
                                   name="add_telephone">
                        </div>
                    </div>
                    <label for="email_address">Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="email" id="detail_email" class="detail_form form-control"
                                   name="add_email">
                        </div>
                    </div>
                    <label for="email_address">Alamat</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_address" class="detail_form form-control"
                                   name="add_address">
                        </div>
                    </div>
                    <label for="email_address">Role</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_role" class="detail_form form-control"
                                   name="add_pass">
                        </div>
                    </div>
                    <label for="email_address">Username</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_uname" class="detail_form form-control"
                                   name="add_uname">
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" aria-flowto="right">
                        CLOSE
                    </button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<Script>
    $(document).ready(function () {
        processData();
        getAllData();
    });


    function processData() {
        $("#form_add").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/user/insert",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal("Gagal", data.data[0], "error")
                            .then((value) => {
                                $(location).attr('href', "/user");
                            });
                    }
                    else {
                        swal("Sukses", data.data, "success")
                            .then((value) => {
                                $(location).attr('href', "/user");
                            });
                    }
                }
            });
        });

        $("#form_edit").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/user/edit",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal(data.data[0]);
                    }
                    else {
                        swal(data.data);
                        $(location).attr('href', "/user");
                    }
                }
            });
        });

        $("#form_activate").submit(function (e) {
            e.preventDefault();
            var status = $('#activate_status').val();
            if (status === "1") {
                var url = "/user/deactivate";
            }
            else {
                var url = "/user/activate";
            }
            $.ajax({
                url: url,
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal(data.data[0]);
                    }
                    else {
                        swal(data.data);
                        $(location).attr('href', "/user");
                    }
                }
            });
        });
    }

    var userDataTables;

    function getAllData() {
        userDataTables = $('#table-data-user').DataTable(
            {
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '/user/list',
                    "headers": {'Authorization': 'Bearer ' + localStorage.token},
                    "data": function (d) {
                        d.name = $("input[name=serch_name]").val();
                        d.telephone = $("input[name=serch_telephone]").val();
                        d.email = $("input[name=serch_email]").val();
                        d.address = $("input[name=serch_address]").val();
                        d.roles = $("select[name=serch_role]").val();
                        d.uname = $("input[name=serch_uname]").val();
                    }
                },
                "order": [[1, "desc"]],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            if (data === 1) {
                                var classStatus = "label label-info"
                                var status = "Aktif";
                            }
                            else {
                                var classStatus = "label label-danger"
                                var status = "Non Aktif";

                            }
                            return '<td><i class="' + classStatus + '">' + status + '</i></td>';
                        },
                        "targets": 6
                    },
                    {
                        "render": function (data, type, row) {


                            var action = '<div class="col-4 mt-1">\n' +
                                '<button onclick="detail(' + data + ')" type="button" class="btn  btn-dark" data-toggle="modal"\n' +
                                '                                    data-target="#detailModel">\n' +
                                '                                    <i class="icon-eye pr-2"></i><span>Detail</span>\n' +
                                '                                </button>\n' +
                                '</div><br>\n' +
                                '<div class="col-4 mt-1">\n' +
                                '<button onclick="update(' + data + ')" type="button" class="btn  btn-warning" data-toggle="modal"\n' +
                                '                                    data-target="#editModal">\n' +
                                '                                    <i class="icon-note pr-2"></i><span>Update</span>\n' +
                                '                                </button>\n' +
                                '</div><br>\n'
                            ;

                            if (row[6] === 1) {
                                action += '<div class="col-4 mt-1"><button onclick="deactivated(' + data + ')" type="button" class="btn btn-danger" data-toggle="modal"\n' +
                                    '                                    data-target="#activateModal">\n' +
                                    '                                    <i class="icon-lock pr-2"></i> <Span>Non Aktif</span>\n' +
                                    '                                </button>\n';
                            }
                            else {
                                action += '<div class="col-4 mt-1"><button onclick="activated(' + data + ')" type="button" class="btn btn-danger" data-toggle="modal"\n' +
                                    '                                    data-target="#activateModal">\n' +
                                    '                                    <i class="icon-lock pr-2"></i> <Span>Aktif</span>\n' +
                                    '                                </button>\n';

                            }
                            return action;
                        },
                        "targets": 8
                    }
                ]
            });
        $("#search_data").click(function () {
            userDataTables.draw();
        });
    }

    function activated(user_id) {
        swal({
            title: "Anda yakin ingin mengaktifkan User Ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/user/activate",
                        type: "POST",
                        data: {
                            activate_id: user_id
                        },
                        beforeSend: function (xhr) {
                            if (localStorage.token) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                            }
                        },
                        error: function (error) {
                            console.log(error.status);
                            if (error.status === 401) {
                                localStorage.removeItem("token");
                                $(location).attr('href', "/login");
                            }
                        },
                        success: function (data) {
                            if (data.status === "nok") {
                                var isi = "";
                                $.each(data.data.message, function (key, value) {
                                    isi = isi + value + '\n';
                                });
                                swal("Gagal", isi, "error")
                            }
                            else {
                                swal("Sukses", "User Berhasil Diaktifkan", "success")
                                    .then((value) => {
                                        $(location).attr('href', "/user");
                                    });
                            }
                        }
                    });
                }
            });
    }

    function deactivated(user_id) {
        swal({
            title: "Anda yakin ingin Menonaktifkan User Ini?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/user/deactivate",
                        type: "POST",
                        data: {
                            activate_id: user_id
                        },
                        beforeSend: function (xhr) {
                            if (localStorage.token) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                            }
                        },
                        error: function (error) {
                            console.log(error.status);
                            if (error.status === 401) {
                                localStorage.removeItem("token");
                                $(location).attr('href', "/login");
                            }
                        },
                        success: function (data) {
                            if (data.status === "nok") {
                                var isi = "";
                                $.each(data.data.message, function (key, value) {
                                    isi = isi + value + '\n';
                                });
                                swal("Gagal", isi, "error")
                            }
                            else {
                                swal("Sukses", "User Berhasil Dinonaktifkan", "success")
                                    .then((value) => {
                                        $(location).attr('href', "/user");
                                    });
                            }
                        }
                    });
                }
            });
    }

    function detail(id_user) {
        if (id_user) {
            $.ajax({
                url: "/user/detail?idUser=" + id_user,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('.detail_form').val("");
                    $('#detail_name').val(data.data.user_name);
                    $('#detail_telephone').val(data.data.user_phone);
                    $('#detail_email').val(data.data.user_email);
                    $('#detail_address').val(data.data.user_address);
                    $('#detail_role').val(data.data.user_role_label);
                    $('#detail_uname').val(data.data.user_uname);
                }
            });
        }
    }

    function update(id_user) {
        if (id_user) {
            $.ajax({
                url: "/user/detail?idUser=" + id_user,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('.edit_form').val("");
                    $('#edit_id').val(data.data.user_id);
                    $('#edit_name').val(data.data.user_name);
                    $('#edit_telephone').val(data.data.user_phone);
                    $('#edit_email').val(data.data.user_email);
                    $('#edit_address').val(data.data.user_address);
                }
            });
        }
    }

    function lock(id_user) {
        if (id_user) {
            $.ajax({
                url: "/user/detail?idUser=" + id_user,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    if (data.data.user_status === 1) {
                        $('#activate_button').html("Non Aktif");
                    }
                    else {
                        $('#activate_button').html("Aktif");
                    }
                    $('.activate_form').val("");
                    $('#activate_role').val(data.data.user_role_label);
                    $('#activate_status').val(data.data.user_status);
                    $('#activate_uname').val(data.data.user_uname);
                    $('#activate_id').val(data.data.user_id);
                    $('#activate_name').val(data.data.user_name);
                    $('#activate_telephone').val(data.data.user_phone);
                    $('#activate_email').val(data.data.user_email);
                    $('#activate_address').val(data.data.user_address);
                }
            });
        }
    }
</Script>
<%- include ../view_layouts/footer.ejs %>


