<%- include ../view_layouts/header.ejs %>
<%- include ../view_layouts/sidebar.ejs %>
<main class="content_wrapper">
    <!--page title start-->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <div class="page-breadcrumb">
                        <h1>Pesanan</h1>
                    </div>
                </div>
                <div class="col-md-6 justify-content-md-end d-md-flex">
                    <div class="breadcrumb_nav">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a class="parent-item" href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">
                                Pesanan
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page title end-->

    <div class="container-fluid">
        <!-- state start-->
        <div class="row">
            <div class=" col-xl-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="card-title">
                            <button type="button" class="btn  btn-success" data-toggle="modal"
                                    data-target="#largeModal"><i class="icon-lock pr-2"></i>
                                <span>Tambah Pesanan</span></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="search_name" placeholder="Nama Customer" class="form-control">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="number" placeholder="Telepon Customer" name="search_telephone" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input required="required" type="text" id="add_tanggal" class="form-control"
                                               name="add_tanggal" placeholder="Tanggal">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select required="required" class="form-control" name="search_status">
                                            <option value="">Pilih Status</option>
                                            <option value="1">Lunas</option>
                                            <option value="2">Belum Lunas</option>
                                            <option value="3">Batal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select required="required" class="form-control" id="search_product" name="search_product">

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <button id="search_data" type="button"
                                                        class="btn btn-block btn-lg btn-primary waves-effect"><i
                                                            class="icon-lock pr-2"> <span>Cari</span></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <button type="button"
                                                        class="btn btn-block btn-lg btn-danger waves-effect"><i
                                                            class="material-icons">search</i>
                                                    <span>Reset</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="card-title">
                            Basic Form Controls
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="table-data-order"
                               class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Nama Pemesan</th>
                                <th>Telepon Pemesan</th>
                                <th>Produk</th>
                                <th>Tanggal</th>
                                <th>Biaya Sewa</th>
                                <th>Uang Muka</th>
                                <th>Sisa Pembayaran</th>
                                <th>Alamat Penjemputan</th>
                                <th>Tujuan</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Nama Pemesan</th>
                                <th>Telepon Pemesan</th>
                                <th>Produk</th>
                                <th>Tanggal</th>
                                <th>Biaya Sewa</th>
                                <th>Uang Muka</th>
                                <th>Sisa Pembayaran</th>
                                <th>Alamat Penjemputan</th>
                                <th>Tujuan</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_add">
                    <label for="email_address">Nama Pemesan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_name" class="form-control" name="add_name">
                        </div>
                    </div>

                    <label for="email_address">Telepon Pemesan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_telephone" class="form-control" name="add_telephone">
                        </div>
                    </div>

                    <label for="email_address">Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <select required="required" class="add_product form-control" id="add_product" name="add_product">

                            </select>

                            <div id="detailProduct">
                                <div class="row">
                                    <div class="col md-6">
                                        <label for="email_address"></label>
                                        <div class="form-group">
                                            <div id="detail_spesifikasi">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col md-6">
                                        <label for="email_address"></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <div id="product_image" class="col-md-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="email_address">Tanggal</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_tanggal" class="form-control"
                                   name="add_tanggal">
                        </div>
                    </div>
                    <label for="email_address">Biaya Sewa Bus</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_price" class="form-control"
                                   name="add_price">
                        </div>
                    </div>
                    <label for="email_address">Uang Muka</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_payment" class="form-control"
                                   name="add_payment">
                        </div>
                    </div>
                    <label for="email_address">Sisa Pembayaran</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" required="required" type="text" id="add_payment_remain"
                                   class="form-control"
                                   name="add_payment_remain">
                        </div>
                    </div>
                    <label for="password">Alamat Penemputan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_address" class="form-control"
                                   name="add_address">
                        </div>
                    </div>
                    <label for="password">Tujuan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_destination" class="form-control"
                                   name="add_destination">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_detail">
                    <label for="email_address">Nama Pemesan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" readonly="readonly" type="text" id="detail_name"
                                   class="detail_form form-control" name="detail_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" readonly="readonly" type="text" id="detail_telephone"
                                   class="detail_form form-control" name="detail_name">
                        </div>
                    </div>

                    <label for="email_address">Produk</label>
                    <div class="form-group">
                        <div class="form-line">

                            <div id="detail_product">
                                <div class="row">
                                    <div class="col md-6">
                                        <label for="email_address"></label>
                                        <div class="form-group">
                                            <div id="detail_spesifikasi_produk" class="detail_form">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col md-6">
                                        <label for="email_address"></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <div id="detail_gambar_produk" class="detail_form col-md-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="email_address">Tanggal</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" readonly="readonly" id="detail_tanggal"
                                   class="detail_form form-control"
                                   name="detail_tanggal">
                        </div>
                    </div>
                    <label for="email_address">Biaya Sewa Bus</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" readonly="readonly" id="detail_biaya_sewa"
                                   class="detail_form form-control"
                                   name="detail_biaya_sewa">
                        </div>
                    </div>
                    <label for="email_address">Uang Muka</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" readonly="readonly" type="text" id="detail_uang_muka"
                                   class="detail_form form-control"
                                   name="detail_uang_muka">
                        </div>
                    </div>
                    <label for="email_address">Sisa Pembayaran</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" required="required" type="text" id="detail_sisa_pembayaran"
                                   class="detail_form form-control"
                                   name="detail_sisa_pembayaran">
                        </div>
                    </div>
                    <label for="password">Alamat Penemputan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" required="required" type="text" id="detail_alamat_penjemputan"
                                   class="detail_form form-control"
                                   name="detail_alamat_penjemputan">
                        </div>
                    </div>
                    <label for="password">Tujuan</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" required="required" type="text" id="detail_tujuan"
                                   class="detail_form form-control"
                                   name="detail_tujuan">
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<Script>
    $(document).ready(function () {
        processData();
        getAllData();
        getProduct();
        getOrderProduct();
        getDetailAllProduct();
        initDateRangePicker();
        countPaymentRemain();
    });
    var startDate = moment().subtract(6, 'days');
    var endDate = moment();
    var total;

    function countPaymentRemain() {
        $('#add_payment').change(function () {
            var price = parseInt($('#add_price').val());
            var payment = parseInt($('#add_payment').val());
            if (price) {
                if (payment > price) {
                    swal("Silahkan Cek Uang Muka!");
                    total = "0";
                }
                else {
                    total = price - payment;

                }
            }
            else {
                total = "0";
            }
            $('#add_payment_remain').val(total);
        });

        $('#add_price').change(function () {
            var price = $('#add_price').val();
            var payment = $('#add_payment').val();
            if (price) {
                var total = price - payment;
            }
            else {
                var total = "0";
            }
            $('#add_payment_remain').val(total);
        });
    }

    function getOrderProduct() {
        $('#add_product').change(function () {
            $('#add_tanggal').val('mm/dd/yyyy');
            var id_product = $('#add_product').val();
            if (id_product) {
                $.ajax({
                    url: "/product/detail?idProduct=" + id_product,
                    type: "get",
                    beforeSend: function (xhr) {
                        if (localStorage.token) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                        }
                    },
                    error: function (error) {
                        console.log(error.status);
                        if (error.status === 401) {
                            localStorage.removeItem("token");
                        }
                    },
                    success: function (data) {
                        $('#product_image').html("");
                        $('#detail_spesifikasi').html("");
                        if (data.data.product_status === "1") {
                            status = "Aktif";
                        }
                        else {
                            status = "Nonaktid";
                        }
                        $('#detail_spesifikasi').html(data.data.product_spesification);
                        $('#detail_name').val(data.data.product_label);
                        $('#detail_status').val(status);
                        $('#product_image').append('<img width="100%" src=http://localhost:3000/image?file=' + data.data.product_image + '/>');
                    }
                });
            }
        });
    }

    function getDetailAllProduct() {
        $('#add_tanggal').change(function () {
            var detailOrder = startDate.format('YYYY-MM-DD' + 'T17:00:00.000Z');
            var detailProduct = $('#add_product').val();
            if (detailProduct) {
                $.ajax({
                    url: "/order/detail?idProduct=" + detailProduct + "&idTanggal=" + detailOrder,
                    type: "get",
                    beforeSend: function (xhr) {
                        if (localStorage.token) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                        }
                    },
                    error: function (error) {
                        console.log(error.status);
                        if (error.status === 401) {
                            localStorage.removeItem("token");
                        }
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    }

    function initDateRangePicker() {
        $('input[name="add_tanggal"]').daterangepicker({
            ranges: {
                '7 Hari Terakhir': [moment().subtract(6, 'days'), moment()],
                '30 Hari Terakhir': [moment().subtract(29, 'days'), moment()],
                'Bulan Ini': [moment().startOf('month'), moment().endOf('month')],
                'Tahun Ini': [moment().startOf('year'), moment().endOf('year')]
            },
            "showCustomRangeLabel": false,
            "alwaysShowCalendars": true,
            "startDate": moment().subtract(6, 'days'),
            "endDate": moment()
        }, function (start, end, label) {
            startDate = start;
            endDate = end;
        });
    }

    function getProduct() {
        $.ajax({
            url: "/order/product",
            type: "get",
            beforeSend: function (xhr) {
                if (localStorage.token) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                }
            },
            error: function (error) {
                console.log(error.status);
                if (error.status === 401) {
                    localStorage.removeItem("token");
                }
            },
            success: function (data) {
                $('#add_product').html("");
                $('#add_product').append('<option value="">--Silahkan Pilih Produk--</option>')
                $('#search_product').html("");
                $('#search_product').append('<option value="">Silahkan Pilih Produk</option>')

                $.each(data.data, function (key, value) {
                    $('#add_product').append('<option value=' + value.product_id + '>' + value.product_label + '</option>')
                });
                $.each(data.data, function (key, value) {
                    $('#search_product').append('<option value=' + value.product_id + '>' + value.product_label + '</option>')
                });
            }
        });
    }

    function processData() {
        $("#form_add").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/order/insert",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal("Gagal!", data.data[0], "error");

                    }
                    else {
                        swal("Sukses", "Data Berhasil Diinput", "success")
                            .then((value) => {
                                $(location).attr('href', "/order");
                            });
                    }
                }
            });
        });

    }

    var orderDataTables;

    function getAllData() {
        orderDataTables = $('#table-data-order').DataTable(
            {
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '/order/list',
                    "headers": {'Authorization': 'Bearer ' + localStorage.token},
                    "data": function (d) {
                        d.startDate = startDate.format('YYYY-MM-DD');
                        d.endDate = endDate.format('YYYY-MM-DD');
                        d.name = $("input[name=search_name]").val();
                        d.telephone = $("input[name=search_telephone]").val();
                        d.status = $("select[name=search_status]").val();
                        d.product= $("select[name=search_product]").val();
                    }
                },
                "order": [[1, "desc"]],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            if (data === 1) {
                                var classStatus = "label label-success"
                                var status = "Lunas";
                            }
                            else {
                                if (data === 2) {
                                    var classStatus = "label label-danger"
                                    var status = "Belum Lunas";

                                }
                                else {
                                    var classStatus = "label label-primary"
                                    var status = "Batal";
                                }

                            }
                            return '<td><i class="' + classStatus + '">' + status + '</i></td>';
                        },
                        "targets": 10
                    },
                    {
                        "orderable": false,
                        "className": "text-center",
                        "render": function (data, type, row) {
                            console.log(row[10]);
                            let action = '<button onclick=detail("' + data + '") type="button" class="btn  btn-dark" data-toggle="modal" data-target="#detailModel">' +
                                '                                    <i class="icon-eye pr-2"></i><span>Detail</span>\n' +
                                '</button>'
                            ;
                            if (row[10] !== 3) {
                                action += '' +
                                    '<button onclick=cancel("' + data + '") type="button" class="btn  btn-danger">' +
                                    '                                    <i class="icon-power pr-2"></i><span>Cancel</span>\n' +
                                    '</button>'
                            }
                            if (row[10] !== 1 && row[10] !== 3) {
                                action += '' +
                                    '<button onclick=update("' + data + '") type="button" class="btn  btn-warning">' +
                                    '                                    <i class="icon-power pr-2"></i><span>Lunas</span>\n' +
                                    '</button>'
                            }

                            return action;

                        },
                        "targets": 11
                    }
                ]
            });
        $("#search_data").click(function () {
            orderDataTables.draw();
        });
    }

    function cancel(order_id) {
        swal({
            title: "Anda yakin ingin membatalkan pesanan ini?",
            text: "Setelah dibatalkan maka tidak dapat diupdate kembali",
            icon: "warning",
            content: {
                element: "input",
                attributes: {
                    placeholder: "Notes",
                    required: true
                },
            },
            buttons: true,
            dangerMode: true,
        })
            .then(alasan => {
                if (alasan) {
                    $.ajax({
                        url: "/order/reject",
                        type: "POST",
                        data: {
                            order_id: order_id,
                            notes: alasan
                        },
                        beforeSend: function (xhr) {
                            if (localStorage.token) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                            }
                        },
                        error: function (error) {
                            console.log(error.status);
                            if (error.status === 401) {
                                localStorage.removeItem("token");
                                $(location).attr('href', "/");
                            }
                        },
                        success: function (data) {
                            if (data.status === "nok") {
                                var isi = "";
                                $.each(data.data.message, function (key, value) {
                                    isi = isi + value + '\n';
                                });
                                swal("Gagal", isi, "error");
                            }
                            else {
                                swal("Sukses", data.data, "success")
                                    .then((value) => {
                                        $(location).attr('href', "/order");
                                    });
                            }
                        }
                    });
                }
                else {
                    swal("Gagal", "Alasan Harus Diisi!", "error")
                }
            });
    }

    function update(order_id) {
        swal({
            title: "Anda yakin ingin Melunasi Pesanan Ini?",
            text: "Setelah dilunasi maka tidak dapat diupdate kembali",
            icon: "warning",
            content: {
                element: "input",
                attributes: {
                    placeholder: "Notes",
                    required: true
                },
            },
            buttons: true,
            dangerMode: true,
        })
            .then(alasan => {
                if (alasan) {
                    $.ajax({
                        url: "/order/lunas",
                        type: "POST",
                        data: {
                            order_id: order_id,
                            notes: alasan
                        },
                        beforeSend: function (xhr) {
                            if (localStorage.token) {
                                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                            }
                        },
                        error: function (error) {
                            console.log(error.status);
                            if (error.status === 401) {
                                localStorage.removeItem("token");
                                $(location).attr('href', "/");
                            }
                        },
                        success: function (data) {
                            if (data.status === "nok") {
                                var isi = "";
                                $.each(data.data.message, function (key, value) {
                                    isi = isi + value + '\n';
                                });
                                swal("Gagal", data.data, "error")
                                    .then((value) => {
                                        $(location).attr('href', "/order");
                                    });
                            }
                            else {
                                swal("Sukses", data.data, "success")
                                    .then((value) => {
                                        $(location).attr('href', "/order");
                                    });
                            }
                        }
                    });
                }
                else {
                    swal("Gagal", "Alasan Harus Diisi!", "error")
                }
            });
    }


    function detail(id_product) {
        if (id_product) {
            $.ajax({
                url: "/order/detailOrder?idProduct=" + id_product,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('.detail_form').val("");
                    $('#detail_name').val(data.data.order_customer);
                    $('#detail_telephone').val(data.data.order_customer_phone);
                    $('#detail_spesifikasi_produk').html(data.data.product_spesification);

                    $('#detail_gambar_produk').append('<img width="100%" src=http://localhost:3000/image?file=' + data.data.product_image + '/>');

                    $('#detail_tanggal').val(data.data.order_start_date);
                    $('#detail_biaya_sewa').val(data.data.order_price);
                    $('#detail_uang_muka').val(data.data.order_down_payment);
                    $('#detail_sisa_pembayaran').val(data.data.order_remaining_payment);
                    $('#detail_alamat_penjemputan').val(data.data.order_pick_up);
                    $('#detail_tujuan').val(data.data.order_destination);
                }
            });
        }
    }

</Script>
<%- include ../view_layouts/footer.ejs %>


