<%- include ../view_layouts/header.ejs %>
<%- include ../view_layouts/sidebar.ejs %>
<main class="content_wrapper">
    <!--page title start-->
    <div class="page-heading">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <div class="page-breadcrumb">
                        <h1>Produk</h1>
                    </div>
                </div>
                <div class="col-md-6 justify-content-md-end d-md-flex">
                    <div class="breadcrumb_nav">
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a class="parent-item" href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">
                                Produk
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--page title end-->

    <div class="container-fluid">
        <!-- state start-->
        <div class="row">
            <div class=" col-xl-12">
                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="card-title">
                            <button type="button" class="btn  btn-success" data-toggle="modal"
                                    data-target="#largeModal"><i class="icon-lock pr-2"></i>
                                <span>Tambah Produk</span></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="search_name" placeholder="Nama Produk"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select required="required" class="form-control" name="search_status">
                                            <option value="">Status Produk</option>
                                            <option value="1">Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <button id="search_data" type="button"
                                                    class="btn btn-block btn-lg btn-primary waves-effect"><i
                                                        class="icon-lock pr-2"> <span>Cari</span></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <button type="button" class="btn btn-block btn-lg btn-danger waves-effect">
                                                <i
                                                        class="material-icons">search</i>
                                                <span>Reset</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card card-shadow mb-4">
                    <div class="card-header">
                        <div class="card-title">
                            Basic Form Controls
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="table-data-user" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>

                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nsms Product</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Tambah Produk</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_add">
                    <label for="email_address">Nama Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="add_product_name" class="form-control"
                                   name="add_product_name">
                        </div>
                    </div>
                    <label for="email_address">Spesifikasi Produk</label>
                    <div class="form-group">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                  name="add_product_spesification"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="email_address">Foto Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="file" id="add_product_photo" class="form-control"
                                   name="add_product_photo">
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!--EDIT DATA-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Update Data</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_edit">
                    <input readonly="readonly" type="hidden" id="edit_product_id" class="activate_form form-control"
                           name="edit_product_id">
                    <label for="email_address">Nama Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="required" type="text" id="edit_product_name" class="form-control"
                                   name="edit_product_name">
                        </div>
                    </div>
                    <label for="email_address">Spesifikasi Produk</label>
                    <div class="form-group">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <textarea class="form-control" id="edit_product_spesification" rows="3"
                                                  name="edit_product_spesification"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!--DETAIL DATA-->

<div class="modal fade" id="detailModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Detail Produk</h4>
            </div>
            <div class="modal-body">
                <form id="form_detail">
                    <label for="email_address">Nama Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_name" class="detail_form form-control"
                                   name="detail_name">
                        </div>
                    </div>
                    <label for="email_address">Status Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_status"
                                   class="detail_form form-control"
                                   name="detail_status">
                        </div>
                    </div>
                    <label for="email_address">Spesifikasi Produk</label>
                    <div class="form-group">
                        <div id="detail_spesifikasi">

                        </div>
                    </div>
                    <label for="email_address">Foto Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <div id="product_image" class="col-md-12"></div>
                        </div>
                    </div>
                    <label for="email_address">Timeline</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="detail_timeline" class="detail_form form-control"
                                   name="add_pass">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>

            </div>
        </div>
    </div>
</div>

<!--ACTIVATE DATA-->
<div class="modal fade" id="activateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="add">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Aktif / Non Aktif Produk</h4>
            </div>
            <br>
            <div class="modal-body">
                <form id="form_activate">
                    <input readonly="readonly" type="hidden" id="activate_product_id" class="activate_form form-control"
                           name="activate_product_id">

                    <input readonly="readonly" type="hidden" id="activate_product_status"
                           class="activate_form form-control"
                           name="activate_product_status">


                    <label for="email_address">Nama Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="activate_name" class="activate_form form-control"
                                   name="activate_name">
                        </div>
                    </div>
                    <label for="email_address">Status Produk</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input readonly="readonly" type="text" id="activate_status"
                                   class="activate_form form-control"
                                   name="activate_status">
                        </div>
                    </div>
                    <label for="email_address">Spesifikasi Produk</label>
                    <div class="form-group">
                        <div id="activate_spesifikasi">

                        </div>
                    </div>
                    <label for="email_address">Foto Produk</label>
                    <div class="form-group">
                        <div class="row">
                            <div id="product_image_activate" class="col-md-12">

                            </div>

                        </div>
                        <div class="row">

                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="activate_button" class="btn btn-primary waves-effect">SAVE CHANGES
                </button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" aria-flowto="right">
                    CLOSE
                </button>
                </form>

            </div>
        </div>
    </div>
</div>

<Script>
    $(document).ready(function () {
        processData();
        getAllData();
    });


    function processData() {
        $("#form_add").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/product/insert",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal("Gagal", data.data[0], "error");
                    }
                    else {
                        swal("Sukses", data.data, "success")
                            .then((value) => {
                                $(location).attr('href', "/product");
                            });
                    }
                }
            });
        });

        $("#form_edit").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/product/edit",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal("Gagal", data.data[0], "error");
                    }
                    else {
                        swal("Sukses", data.data, "success")
                            .then((value) => {
                                $(location).attr('href', "/product");
                            });
                    }
                }
            });
        });

        $("#form_activate").submit(function (e) {
            e.preventDefault();
            var status = $('#activate_product_status').val();
            if (status === "1") {
                var url = "/product/deactivate";
            }
            else {
                var url = "/product/activate";
            }
            $.ajax({
                url: url,
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {
                    if (data.status === "nok") {
                        swal("Gagal", data.data[0], "error");
                    }
                    else {
                        swal("Sukses", data.data, "success")
                            .then((value) => {
                                $(location).attr('href', "/product");
                            });
                    }
                }
            });
        });
    }

    var userDataTables;

    function getAllData() {
        userDataTables = $('#table-data-user').DataTable(
            {
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '/product/list',
                    "headers": {'Authorization': 'Bearer ' + localStorage.token},
                    "data": function (d) {
                        d.name = $("input[name=search_name]").val();
                        d.status = $("select[name=search_status]").val();
                    }
                },
                "order": [[1, "desc"]],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            if (data === 1) {
                                var classStatus = "label label-info"
                                var status = "Aktif";
                            }
                            else {
                                var classStatus = "label label-danger"
                                var status = "Non Aktif";

                            }
                            return '<td><i class="' + classStatus + '">' + status + '</i></td>';
                        },
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            if (row[8] === 1) {
                                var classStatus = "mdi mdi-circle text-success"
                                var status = "Aktif";
                            }
                            else {
                                var classStatus = "mdi mdi-circle text-danger"
                                var status = "Non Aktif";

                            }
                            return '<td>\n' +
                                '<div class="col-3">\n' +
                                '<div class="col-3">\n' +
                                '<button onclick="detail(' + data + ')" type="button" class="btn-sm  btn-dark" data-toggle="modal"\n' +
                                '                                    data-target="#detailModel">\n' +
                                '                                    <i class="icon-eye pr-2"></i>\n' +
                                '<span>detail</span>' +

                                '                                </button>\n' +
                                '</div>\n' +
                                '<div class="col-3">\n' +
                                '<button onclick="update(' + data + ')" type="button" class="btn-sm  btn-warning" data-toggle="modal"\n' +
                                '                                    data-target="#editModal">\n' +
                                '                                    <i class="icon-note pr-2"></i>\n' +
                                '<span>Update</span>' +
                                '                                </button>\n' +
                                '</div>\n' +
                                '<div class="col-3">\n' +
                                '<button onclick="lock(' + data + ')" type="button" class="btn-sm  btn-danger" data-toggle="modal"\n' +
                                '                                    data-target="#activateModal">\n' +
                                '                                    <i class="icon-lock pr-2"></i>\n' +
                                '<span>Non Aktif/Aktif</span>' +
                                '                                </button>\n' +
                                '</div>\n' +
                                '</div>\n' +
                                '</td>';
                        },
                        "targets": 3
                    }
                ]
            });
        $("#search_data").click(function () {
            userDataTables.draw();
        });
    }

    function detail(id_product) {
        if (id_product) {
            $.ajax({
                url: "/product/detail?idProduct=" + id_product,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('.detail_form').val("");
                    $('#product_image').html("");
                    $('#detail_spesifikasi').html("");
                    if (data.data.product_status === "1") {
                        status = "Aktif";
                    }
                    else {
                        status = "Nonaktid";
                    }
                    $('#detail_spesifikasi').html(data.data.product_spesification);
                    $('#detail_name').val(data.data.product_label);
                    $('#detail_status').val(status);
                    $('#product_image').append('<img width="100%" src=http://www.amirays.com/image?file=' + data.data.product_image + ' >');
                }
            });
        }
    }

    function update(id_product) {
        if (id_product) {
            $.ajax({
                url: "/product/detail?idProduct=" + id_product,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('#edit_product_name').val(data.data.product_label);
                    $('#edit_product_id').val(data.data.product_id);
                    $('#edit_product_spesification').val(data.data.product_spesification);

                }
            });
        }
    }

    function lock(id_product) {
        if (id_product) {
            $.ajax({
                url: "/product/detail?idProduct=" + id_product,
                type: "get",
                beforeSend: function (xhr) {
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                error: function (error) {
                    console.log(error.status);
                    if (error.status === 401) {
                        localStorage.removeItem("token");
                    }
                },
                success: function (data) {
                    $('.activate_form').val("");
                    $('#product_image_activate').html("");
                    $('#activate_spesifikasi').html("");
                    if (data.data.product_status === "1") {
                        status = "Aktif";
                    }
                    else {
                        status = "Nonaktif";
                    }
                    $('#activate_spesifikasi').html(data.data.product_spesification);
                    $('#activate_button').html(status);
                    $('#activate_product_id').val(data.data.product_id);
                    $('#activate_product_status').val(data.data.product_status);
                    $('#activate_spesifikasi').html(data.data.product_spesification);
                    $('#activate_name').val(data.data.product_label);
                    $('#activate_status').val(status);
                    $('#product_image_activate').append('<img width="100%" src=http://localhost:3000/image?file=' + data.data.product_image + '/>');
                }
            });
        }
    }
</Script>
<%- include ../view_layouts/footer.ejs %>


